<mat-accordion *ngIf="selectedIp">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Трансляция с {{ selectedIp }}</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="camera-card">
      <mat-spinner *ngIf="loading" diameter="40"></mat-spinner>
      <img
        class="stream"
        #streamImage
        *ngIf="selectedIp"
        [src]="'http://' + selectedIp + '/stream'"
        (load)="onLoad()"
        (error)="loading = false"
        [hidden]="loading"
        alt="stream from camera"
      />
    </div>
  </mat-expansion-panel>
</mat-accordion>
