<mat-accordion *ngIf="selectedIp">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Трансляция с {{ selectedIp }}</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="camera-card" style="position: relative;">
      <mat-spinner *ngIf="loading" diameter="40"></mat-spinner>
      <img
        #streamImage
        class="stream"
        *ngIf="selectedIp"
        [src]="'http://' + selectedIp + '/stream'"
        (load)="onLoad()"
        (error)="loading = false"
        [hidden]="loading"
        alt="stream from camera"
      />

      <canvas
        #overlayCanvas
        class="overlay"
        [hidden]="loading"
        style="position: absolute; top: 0; left: 0; pointer-events: none;"
      ></canvas>
    </div>
  </mat-expansion-panel>
</mat-accordion>
