<ng-container *ngIf="selectedIp() as ip">
  <h4 class="headline-4">Настройки камеры</h4>

  <ng-container *ngFor="let key of keys">
    <mat-form-field appearance="fill" style="width: 100%; margin-top: 8px;">
      <mat-label>{{ key }}</mat-label>
      <mat-select
        [value]="settings()[key]" (selectionChange)="setOption(key, $event.value)">
      <mat-option *ngFor="let val of options[key]" [value]="val">
        {{ val }}
      </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
</ng-container>
<ng-container *ngIf="!selectedIp()">Нет выбранной камеры</ng-container>
